@import 'partials/framework';

//* Style Resets
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

//* Basic Styling
html, body {
  overflow-x: hidden;
  background-color: #262d2d;
  font-family: Tahoma, Geneva, sans-serif;
}

a {
    color: #b9b9b9;

    &:hover {
        color: darken(#b9b9b9, 10);
    }
}

h1 {
    color: #fff;
}

.control-wrapper {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 10px solid #d3d3d3;

    //* Directional controls
    .direction {
        text-align: center;
        width: 100%;

        //* A/B buttons used for the forward/reverse controls
        .a, .b {
            padding: 10px;

            button {
                background-color: #e00c1a;
                position: relative;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                border: 5px solid #d3d3d3;
                font-size: 24px;
                color: #d3d3d3;

                &:active {
                    background-color: lighten(#e00c1a, 10);
                    color: lighten(#d3d3d3, 5);
                }
            }
        }

        //* D-Pad-esque controls used for the left and right controls.
        .d-left, .d-right {
            padding: 10px;

            button {
                background-color: #030303;
                width: 100px;
                height: 100px;
                position: relative;
                border: 5px solid #d3d3d3;
                font-size: 24px;
                color: #444;

                &:active {
                    background-color: lighten(#030303, 10);
                    color: lighten(#444, 10);
                }
            }
        }
    }
}

.aux-wrapper {

    //* Auxilery controls
    .aux {
        padding: 15px;
        text-align: center;

        //* Speed variable controls
        .speed {
            font-size: 16px;
            color: #d3d3d3;
            text-transform: uppercase;
            width: 100%;
            height: 50px;
        }

        //* Credits
        .credits {
            padding: 10px;
            margin-top: 20px;
            color: #d3d3d3;
            font-size: 12px;
        }
    }

}

